* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 40px auto;
}

h1 {
    margin-bottom: 40px;
}

/* ======================== */

.square {
    width: 128px;
    height: 128px;
    float: left;
    margin: 10px;
    border: 1px solid #c0c0c0;
}

.container-line::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

img {
    width: 500px;
    height: 500px;
    display: block;
}

a {
    text-decoration: none;
    color: #222;
}